  
/*-------------------------------------------*/
/* #Tablet (Portrait)*/
/*-------------------------------------------*/
@media only screen and (min-width: 1000px) and (max-width: 1199px) {

	.view-news .group-left{
		float: none;
	}
	.view-news .group-left img{
		width: 455px;
	}
	.view-news .group-left{
		padding: 0;
	}
	.view-news .view-content {
		margin: 0 auto;
		width: 955px;
	}
	.view-news td {
		width: 468px;
	}
}

