@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
  .page-node .container {
    width: 1170px;
  }
}

@media only screen and (min-width: 1300px) {
  .region-blockgroup-footer {
    margin: 0 -15px;
  }
}