
#admin-menu, #admin-menu .dropdown{
  z-index: 10001;
}
#overlay-container, .overlay-modal-background, .overlay-element{
  z-index: 10000;
}
li.menu__item.is-leaf{
  list-style: none;
}
#page {
  margin: 0 auto;
  padding: 0 0 0;
  text-align: left;
  min-width: 320px;
  min-height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}
.container, .region-footer{
  max-width: 1250px;
  margin: 0 auto;
}
a {
  color: #404f4d;
  text-decoration: none;
}
a:hover {
  color: #588;
}

label{
  display: inline-block;
  font-size: 13px;
  font-family: "Ubuntu",sans-serif;
  font-weight: normal;
  margin: 0;
}
.input-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #ecebeb;
  background: #FFFFFF;
  font-size: 14px;
}

.form-submit {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #588;
  display: inline-block;
  padding: 15px 22px 16px;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  font-family: "Ubuntu",sans-serif;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: normal;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);
  -moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);
}

.block-header {
  background: url("../images/front_top_bg.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 12.3% 0 15.1%;
  margin: -110px 0 -78px;
  float: left;
  width: 100%;
}

.block-header .title {
  font-family: "Arizonia",sans-serif;
  font-size: 172px;
  line-height: 172px;
  margin-bottom: 12px;
}

.block-header .slog {
  font-size: 52px;
  line-height: 52px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.block-header .desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.page-header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: rgba(54,70,76,0.9);
  padding: 0;
  box-shadow: 0 0px 12px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.3);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-container {
  position: relative;
  margin: 0 -20px;
  padding: 20px 19px 19px 0;
  z-index: 3;
}

.main-menu{
  padding-left: 203px;
  padding-right: 147px;
}

.main-nav {
  padding: 22px 0 0;
  display: block;
}
.main-nav a{
  font-size: 14px;
  display: block;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  color: #bceded;
}
.main-nav a:hover, .main-nav a.active{
  color: #fff;
}
.main-nav li{
  float: left;
}
.region-highlighted, .content-column .container{
  position: relative;
  z-index: 2;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: -78px;
}

.block-title{
  font-size: 18px;
  font-weight: 500;
  color: #404f4d;
  padding-bottom: 0;
  margin-bottom: 28px;
  text-transform: none;
  text-align: center;
  text-transform: uppercase;
}

.view-product td {
  width: 300px;
}
.view-product td{
  padding: 0 0 30px 0;
}

.wrap-product{
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #ecebeb;
  padding: 15px 24px;
  text-align: center;
  position: relative;
}
.views-field-commerce-price{
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 7px 0 16px;
  font-family: "Ubuntu",sans-serif;
  color: #333;
  text-decoration: none;
  line-height: 20px;
}
.views-field-title a{
  color: #404f4d;
  font-family: "Ubuntu",sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.views-field-title a:hover{
  color: #888;
}

.wrap-hidden{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 88%;
  opacity: 0;
  background: #fff;
  border: 1px solid #ecebeb;
  border-top: 0;
  padding: 0 20px 20px;
  z-index: 10;
}
.wrap-hidden.hover{
  opacity: 1;
  top:95%;
}
.view-product .form-submit{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #588;
  display: inline-block;
  padding: 15px 22px 16px;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  font-family: "Ubuntu",sans-serif;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: normal;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);
  -moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);
  white-space: normal;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
}
.view-product .fivestar-average-stars .form-item{
  margin: 1.5em auto;
  width: 90px;
}

div.messages.commerce-add-to-cart-confirmation{
  top: 50%;
  margin: 0;
}
.footer-col {
  float: left;
  width: 14.666%;
  padding: 0 15px;
}
.footer-col.extra-col {
  width: 22%;
}

.footer-wrap{
  background-color: #404f4d;
  padding: 140px 0 30px;
  position: relative;
  /*overflow: hidden;*/
}
.region-footer .block-title{
  color: #fff;
  font-size: 14px;
  padding: 0 0 20px;
  margin: 0;
  text-align: left;
}
.footer-col li{
  word-break: break-all;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.region-footer a, .region-footer a.active {
  color: #bceded;
}
.region-footer a:hover {
  color: #fcb28e;
}
.footer-info{
  font-size: 13px;
  line-height: 23px;
  color: #a0a7a6;
}
.footer-info .tel {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
}

.footer-col ul li {
  word-break: break-all;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
/* Social icon. */
.list-icon a {
  font-size: 14px;
  color: #a0a7a6;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-twitter:before {
  content: "";
}
.list-icon li {
  float: left;
  margin-right: 14px;
}
.list-icon a:hover {
  color: #fff;
}
.list-icon {
  overflow: hidden;
  margin-top: 20px;
}
/* END Social icon. */

.region-blockgroup-footer{
  overflow: hidden;
}

.region-footer address {
  font-size: 11px;
  color: #a0a7a6;
  border-top: 1px solid #636f6d;
  margin: 0 -15000px;
  padding: 20px 15000px;
}

/* Product page START*/

.content-column{
  margin-top: 110px;
}

.cloud-zoom-gallery-thumbs a{
  overflow: hidden;
  display: block;
  border: 1px solid #eaeaea;
  margin: 0 0 16px 12px;
}
.breadcrumb li{

  font-size: 13px;
  font-family: "Ubuntu",sans-serif;
  text-transform: uppercase;
}
.breadcrumb a{
  color: #888;
}
.breadcrumb a:hover{
  color: #333;
}
.cloud-zoom-container #wrap{
  float: right !important;
  margin: 0 0 30px;
}
.cloud-zoom-container .cloud-zoom{
  border: 1px solid #eaeaea;
}
.breadcrumb {
  margin: 0 0 15px;
}

.commerce-product-sku-label{
  font-weight: normal;
}
.commerce-product-sku{
  color: #333;
  font-weight: bold;
  background: #eee;
  display: inline-block;
  padding: 3px 9px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
.node-product-display .field-name-title h2{
  font-size: 18px;
  font-weight: 500;
  color: #404f4d;
  margin-bottom: 28px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.2;
}
.node-product-display .field-name-commerce-price{
  color: #CF5050;
  font-size: 30px;
}

.node-product-display form.fivestar-widget{
  clear: none;
}

.node-product-display .clearfix:after {
  clear: none;
}
.node-product-display .field-type-fivestar{
  padding: 10px 0 15px;
  float: right;
}
.node-product-display{
  margin: 0 25px;
}
.ds-2col-stacked > .group-right{
  width: 48%;
  padding: 0 0 0 2%;
}
.node-product-display .field-name-field-product{
  border-top: 1px solid #ccc;
  margin: 25px 0;
  overflow: hidden;
}
.form-item-quantity label{
  line-height: 35px;
  margin-right: 7px;
  float: left;
}

.form-item-quantity input{
  float: left;
  height: 35px;
  width: 3em;
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
  padding: 0 8px;
  font-family: "Ubuntu",sans-serif;
  color: #888;
  line-height: 1.5;
  margin-right: 7px;
}

.commerce-add-to-cart .form-submit{
  min-height: 35px;
  line-height: 35px;
  font-size: 16px;
  padding: 0px 30px;
  float: left;
  min-width: 160px;
  white-space: normal;
}

.node-product-display div.vertical-tabs{
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #ccc;
  overflow: hidden;
  clear: both;
  margin: 0;
}

.node-product-display ul.vertical-tabs-list{
  display: block;
  float: left;
  position: relative;
  width: 23%;
  z-index: 9;
  margin-right: -1px;
  border-right: solid 1px #ccc;
  margin: 0;
  border-top: none;
}
.node-product-display .vertical-tabs ul.vertical-tabs-list li.selected{
  border-left: 2px solid #333;
  border-right-color: #ffffff;
  margin-right: -2px;
}
.node-product-display .vertical-tabs ul.vertical-tabs-list li:first-child{
  border-top: none;
}
.node-product-display .vertical-tabs ul.vertical-tabs-list li{
  cursor: pointer;
  margin-right: -1px;
  background: #fff;
  border: 0;
  border-top: 1px solid #ccc;
}
.node-product-display .vertical-tabs fieldset.vertical-tabs-pane{
  overflow: hidden;
  border-left: solid 1px #ccc;
  min-height: 160px;
}
.node-product-display .vertical-tabs ul.vertical-tabs-list li a{
  padding: 12px 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: normal;
  position: relative;
  bottom: -1px;
  font-weight: normal;
  color: #888;
}
.node-product-display .vertical-tabs ul.vertical-tabs-list li.selected a,
.node-product-display .vertical-tabs ul.vertical-tabs-list li a:hover{
  color: #333;
}
.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
   text-decoration: none;
}
.node-product-display .vertical-tabs ul.vertical-tabs-list li a:hover,
.node-product-display .vertical-tabs ul.vertical-tabs-list li a {
  outline: none;
}
.node-product-display .vertical-tabs ul.vertical-tabs-list li:last-child{
  border-bottom: solid 1px #ccc;
}
div.messages.commerce-add-to-cart-confirmation{
  z-index: 1002;
}
div.commerce_add_to_cart_confirmation_overlay{
  z-index: 1001;
}
/* Product page END*/

/* Product list page START*/

.view-products-grapes{
  float: right;
  width: 75%;
}
.view-products-grapes + .sidebars{
  float: left;
  width: 25%;
}
.block-facetapi{
  margin: 0;
}
.block-facetapi .block-title{
  color: #333;
  font-size: 14px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-weight: normal;
  margin-bottom: 0px;
  padding: 7px 10px 7px 24px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  background-color: #F4F4F4;
  text-align: left;
}
.page-products h1{
  text-align: center;
}
.block-facetapi .item-list{
  padding: 10px;
  margin: 0;
  border-width: 0 1px;
  border-style: solid;
  border-color: #ccc;
}
.block-facetapi .item-list:last-child{
  border-width: 0 1px 1px 1px;
}
.block-facetapi .item-list a{
  display: block;
}
.view-products-grapes table{
  margin: 0;
}
.block-facetapi .count{
  color: #A0A0A0;
}
a.facetapi-active, .current-search-item a{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #EDEDED;
  text-align: center;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  position: relative;
  float: right;
}
a.facetapi-active:hover, .current-search-item a:hover{
  background-color: #333;
  border-color: #333;
}
a.facetapi-active:after, .current-search-item a:after{
  display: inline-block;
  font-family: "FontAwesome";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f00d";
  color: #888;
  line-height: 18px;
  width: 100%;
  font-size: 15px;
}
a.facetapi-active:hover:after, .current-search-item a:hover:after {
  color: #FFFFFF;
  text-decoration: none;
}
.current-search-item-reset-filters a{
  color: #404f4d;
  font-size: 12px;
  display: inline;
  width: 100%;
  border: none;
  text-align: left;
}
.current-search-item-reset-filters a:hover{
  background: none;
  color: #588;
}
.current-search-item-reset-filters{
  margin: 10px 0;
  padding: 10px 0;
}
.current-search-item-reset-filters a:after{
  display: none;
}
.current-search-item-active li{
  clear: right;
  margin: 0 0 5px 15px;
}
.block-facetapi .item-list li{
  padding: 5px 0 5px 15px;
}
.view-products-grapes .box__title-heading{
  float: right;
}
.view-products-grapes .view-header ul{
  position: relative;
  margin: 5px 0;
}
.view-products-grapes .view-header li{
  float: left;
  padding: 0 10px 0 0;
}
.view-products-grapes .view-header li.last{
  float: none;
}
.view-content{
  margin: 0 10px;
}
.view-products-grapes .view-header img{
  position: absolute;
  display: block;
  left: 145px;
  top: 0px;
}
.search-api-sorts a{
  text-transform: uppercase;
}
.search-api-sorts a.active-sort{
  color: #588;
}
.view-products-grapes .view-header{
  margin: 0 25px;
}
.sort-box{
  margin-top: 10px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: none;
  padding: 5px 0 0 0;
  clear: both;
}
/* Product list page END*/

/*Product cart START*/
.add-cart-message-wrapper{
  top: 50%;
}
.header__region{
  clear: none;
}
.main-menu{
  float: left;
}
/*Product cart END*/