@font-face {
  font-family: Arizonia;
  src: url(../fonts/Arizonia-Regular.ttf);
}
@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-C.ttf);
}
@font-face {
  font-family: material-design;
  src: url(../fonts/material-design/Material-Design-Icons.eot);
}
@font-face {
  font-family: studio-script-ctt;
  src: url(../fonts/studioscriptctt.ttf);
}
